{% extends "layout.html" %}
{% block body %}
<style>
strong {font-weight: bold}
</style>
<h1 id="page-title">{{ title }}</h1>

<div id="list">
  <form action="/login" method="post" accept-charset="utf-8">
    {% if granted == False %}
    <div class="item-new">
      <center>username</center>
      <input class="input" type="text" name="username" />
      <br/>
      <center>password</center>
      <input class="input" type="password" name="password" />
      <center>
      <input type="hidden" name="redirectPage" value="{{ redirectPage|default('', true)|safe }}" />
      <input type="submit">
      </center>
    </div>
    {% endif %}
  </form>
</div>
{% endblock %}
